:root {
    --wordle-gray: #787C7E;
    --wordle-yellow: #C9B458;
    --wordle-green: #6AAA64;
    --labelSquareLength: 2.5vw;
    --maxLabelSquareLength: 20px;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

main, header {
    padding: 10px;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

h1 {
    text-align: center;
}

input[type="text"] {
    text-align: center;
    font-size: 100px;
}

.switchBox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.switchBox input[type="range"] {    
    width: calc(var(--labelSquareLength) * 5);
    max-width: calc(var(--maxLabelSquareLength) * 5)
}
.switchBox label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(var(--labelSquareLength) * 5);
    max-width: calc(var(--maxLabelSquareLength) * 5);
}
.graySquare {    
    height: var(--labelSquareLength);
    width: var(--labelSquareLength);
    max-height: var(--maxLabelSquareLength);
    max-width: var(--maxLabelSquareLength);
    background-color: var(--wordle-gray);
}
.yellowSquare {    
    height: var(--labelSquareLength);
    width: var(--labelSquareLength);
    max-height: var(--maxLabelSquareLength);
    max-width: var(--maxLabelSquareLength);
    background-color: var(--wordle-yellow);
}
.greenSquare {    
    height: var(--labelSquareLength);
    width: var(--labelSquareLength);
    max-height: var(--maxLabelSquareLength);
    max-width: var(--maxLabelSquareLength);
    background-color: var(--wordle-green);
}

#wordleLetters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 30vh;
}
.wordleLetter {
    height: calc(var(--labelSquareLength) * 7);
    width: calc(var(--labelSquareLength) * 7);
    max-height: calc(var(--maxLabelSquareLength) * 7);
    max-width: calc(var(--maxLabelSquareLength) * 7);
    background-color: var(--wordle-gray);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#results {
    text-align: center;
    list-style: none;
    margin: 10px;
}

#keyboard {
    display: flex;
    flex-flow: column nowrap;
}
.keyboardRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.keyboardLetter {
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    height: 3em;
    width: 3em;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    footer {
        position: relative;
    }

    input[type="text"] {
        font-size: 60px;
    }

    #wordleLetters {
        width: 100%;
    }
    .switchBox {
        margin: 0;
    }
}