:root {
    --wordle-gray: rgb(120, 124, 126);
    --wordle-yellow: rgb(201, 180, 88);
    --wordle-green: rgb(106, 170, 100);
    --background-color: rgb(255, 255, 255);
    --labelSquareLength: 4vw;
    --maxLabelSquareLength: 19px;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

main, header {
    padding: 10px;
}

footer {
    box-sizing: border-box;
    height: 4em;
    padding: 10px;
    bottom: 0;
}

h1 {
    text-align: center;
}

.colors {
    display: flex;
    flex-flow: row wrap;
}
.graySquare {    
    height: var(--labelSquareLength);
    width: var(--labelSquareLength);
    max-height: var(--maxLabelSquareLength);
    max-width: var(--maxLabelSquareLength);
    background-color: var(--wordle-gray);
}
.yellowSquare {    
    height: var(--labelSquareLength);
    width: var(--labelSquareLength);
    max-height: var(--maxLabelSquareLength);
    max-width: var(--maxLabelSquareLength);
    background-color: var(--wordle-yellow);
}
.greenSquare {    
    height: var(--labelSquareLength);
    width: var(--labelSquareLength);
    max-height: var(--maxLabelSquareLength);
    max-width: var(--maxLabelSquareLength);
    background-color: var(--wordle-green);
}

#wordleLetterWrappers {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.wordleRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.wordleLetterWrapper {
    display: flex;
    flex-flow: column nowrap;
    height: calc(var(--labelSquareLength) * 5);
    width: calc(var(--labelSquareLength) * 5);
    max-height: calc(var(--maxLabelSquareLength) * 5);
    max-width: calc(var(--maxLabelSquareLength) * 5);
    background-color: var(--wordle-gray);
    border: 2px solid black;
    margin: 1px;
}
.wordleLetter {
    text-align: center;
    font-size: calc(var(--maxLabelSquareLength) * 3);
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#results {
    text-align: center;
    list-style: none;
    margin: 10px;
}

#keyboard {
    display: flex;
    flex-flow: column nowrap;
}
.keyboardRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.keyboardLetter {
    margin: 2px;
    text-align: center;
    height: 2.9em;
    width: 2.9em;
    vertical-align: middle;
    background-color: var(--background-color);
}
    .keyboardLetter:hover {
        filter: brightness(80%);
    }
    .keyboardLetter:not(#backspace) {
        border: 2px solid black;
    }
#enter {
    width: 3.4em;
}

@media only screen and (max-width: 600px) {
    input[type="text"] {
        font-size: 60px;
    }

    #wordleLetterWrappers {
        width: 100%;
    }
    .switchBox {
        margin: 0;
    }
    .wordleLetter {
        font-size: calc(var(--labelSquareLength) * 3);
    }
}